h1{
    text-align: center;
    text-transform: uppercase;

  }
  p{
    text-align: center;
  

  }
  html{
    background-color: black;
  }
  .palestine-png{
    width: 100%;
    border: 5px solid white;
  }
  .poster{
    margin: 25%;
    width: 50%;
    margin-top: 100px;
    color: rgb(248, 247, 247);
    font-family: 'Libre Baskerville', serif;
    
  }